{% extends 'layouts/main.html' %}
{% block title %}New Restaurant - New York Diner{% endblock %}
{% block description %}
  <meta name="description" content="Post a new restaurant located at one of New York's boroughs.">
{% endblock %}
{% block links %}{% endblock %}
{% block div_inside1 %}{% endblock %}
{% block breadcrumb %}
  <div aria-label="Breadcrumb">
    <ol id="breadcrumb">
      <li><a href="/restaurants">Home</a></li>
      <li aria-current="page">Post a Restaurant</li>
    </ol>
  </div>
{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}}">
          <a class="close" data-dismiss="alert">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="form-wrapper">
    <form method="post" class="form">
      {{ form.csrf_token }}
      <h3 class="form-heading">Post new Restaurant</h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
        {% if form.name.errors %}
          <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <label for="borough">Borough</label>
        {{ form.borough(class_ = 'form-control', autofocus = true) }}
        {% if form.borough.errors %}
          <ul class="errors">{% for error in form.borough.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="photograph">Photograph Link</label>
        {{ form.photograph(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        {% if form.photograph.errors %}
          <ul class="errors">{% for error in form.photograph.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="img_description">Image Description</label>
        {{ form.img_description(class_ = 'form-control', autofocus = true) }}
        {% if form.img_description.errors %}
          <ul class="errors">{% for error in form.img_description.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control', autofocus = true) }}
        {% if form.address.errors %}
          <ul class="errors">{% for error in form.address.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
      </div>
      <div class="form-group">
        <span>The approximate latitude and longitude values for New York City are:</span><br>
        <span>min lat = 40.499080, max lat = 40.913124</span><br>
        <span>min lng = -73.703058, max lng = -74.253449</span><br>
        <label for="lat">Latitude</label>
        {{ form.lat(class_ = 'form-control', placeholder='00.000000', autofocus = true) }}
        {% if form.lat.errors %}
          <ul class="errors">{% for error in form.lat.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <label for="lng">Longitude</label>
        {{ form.lng(class_ = 'form-control', placeholder='-00.000000', autofocus = true) }}
        {% if form.lng.errors %}
          <ul class="errors">{% for error in form.lng.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="cuisine">Cuisine</label>
        {{ form.cuisine(class_ = 'form-control', autofocus = true) }}
        {% if form.cuisine.errors %}
          <ul class="errors">{% for error in form.cuisine.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
      </div>
      <div class="form-group">
        <span>Operating Hours</span>
        <table>
          <tr>
            <th>Day</th>
            <th>Open</th>
            <th>Close</th>
          </tr>
          <tr>
            <td>Monday:</td>
            <td>{{ form.opening_0(class_ = 'form-control', autofocus = true) }}</td>
            <td>{{ form.closing_0(class_ = 'form-control', autofocus = true) }}</td>
          </tr>
          <tr>
            <td>Tuesday:</td>
            <td>{{ form.opening_1(class_ = 'form-control', autofocus = true) }}</td>
            <td>{{ form.closing_1(class_ = 'form-control', autofocus = true) }}</td>
          </tr>
          <tr>
            <td>Wednesday:</td>
            <td>{{ form.opening_2(class_ = 'form-control', autofocus = true) }}</td>
            <td>{{ form.closing_2(class_ = 'form-control', autofocus = true) }}</td>
          </tr>
          <tr>
            <td>Thursday:</td>
            <td>{{ form.opening_3(class_ = 'form-control', autofocus = true) }}</td>
            <td>{{ form.closing_3(class_ = 'form-control', autofocus = true) }}</td>
          </tr>
          <tr>
            <td>Friday:</td>
            <td>{{ form.opening_4(class_ = 'form-control', autofocus = true) }}</td>
            <td>{{ form.closing_4(class_ = 'form-control', autofocus = true) }}</td>
          </tr>
          <tr>
            <td>Saturday:</td>
            <td>{{ form.opening_5(class_ = 'form-control', autofocus = true) }}</td>
            <td>{{ form.closing_5(class_ = 'form-control', autofocus = true) }}</td>
          </tr>
          <tr>
            <td>Sunday:</td>
            <td>{{ form.opening_6(class_ = 'form-control', autofocus = true) }}</td>
            <td>{{ form.closing_6(class_ = 'form-control', autofocus = true) }}</td>
          </tr>
        </table>
      </div>
      <input type="submit" value="Post" class="btn">
    </form>
  </div>
{% endblock %}
{% block scripts %}{% endblock %}
{% block div_inside2 %}{% endblock %}
