{% extends 'layouts/main.html' %}
{% block title %}New Review - New York Diner{% endblock %}
{% block description %}
  <meta name="description" content="Write a review on your dining experience at one of New York's popular restaurants.">
{% endblock %}
{% block links %}{% endblock %}
{% block div_inside1 %}{% endblock %}
{% block breadcrumb %}
  <div aria-label="Breadcrumb">
    <ol id="breadcrumb">
      <li><a href="/restaurants">Home</a></li>
      <li><a href="/restaurants/{{restaurant.id}}">{{restaurant.name}}</a></li>
      <li aria-current="page">Write a Review</li>
    </ol>
  </div>
{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}}">
          <a class="close" data-dismiss="alert">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">{{restaurant.name}}</h3>
      <div class="form-group">
        <img class="avatar" src="{{userinfo['picture']}}" alt="Avatar"/>
        <p>{{userinfo['name']}}</p>
      </div>
      <div style="display: none;">
        {{ form.name(class_ = 'form-control', autofocus = true, value = userinfo['name']) }}
        {{ form.date(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        {{ form.rating(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="comments">Comments</label>
        {{ form.comments(class_ = 'form-control', placeholder='Share your experience at this restaurant', autofocus = true, maxlength=500) }}
      </div>
      <input type="submit" value="Post" class="btn">
    </form>
  </div>
{% endblock %}
{% block scripts %}{% endblock %}
{% block div_inside2 %}{% endblock %}
