<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login - New York Diner</title>
  <meta name="description" content="Login to New York Diner's catalogue of restaurants.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Normalize.css for better cross-browser consistency -->
  <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <div class="login-wrapper">
    <div class="login-prompt">
        <img src="https://i.cloudup.com/StzWWrY34s.png" />
        <h3>New York Diner</h3>
        <p>Please login to access the catalogue.</p>
        <a href="/login">Log In</a>
    </div>
  </div>
</body>

</html>
