<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Restaurant Info</title>
  <meta name="description" content="Details and a list of reviews about a specific restaurant in New York City">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Normalize.css for better cross-browser consistency -->
  <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
  <!-- Main CSS file -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
</head>

<body class="inside">
  <!-- Beginning header -->
  <header>
    <!-- Beginning nav -->
    <nav>
      <div class="new-nav">
        <div class="app-title">
          <h1 class="title"><a href="{{ url_for('get_restaurants') }}">New York Diner</a></h1>
        </div>
        <div class="user-info">
          <p>Welcome {{userinfo['name']}}</p>
          <a href="{{ url_for('logout') }}">Logout</a>
        </div>
      </div>
      <!-- Beginning breadcrumb -->
      <div aria-label="Breadcrumb">
        <ol id="breadcrumb">
          <li><a href="{{ url_for('get_restaurants') }}">Home</a></li>
          <li aria-current="page">{{restaurant.name}}</li>
        </ol>
      </div>
      <!-- End breadcrumb -->
    </nav>
    <!-- End nav -->
  </header>
  <!-- End header -->

  <!-- Beginning main -->
  <main id="maincontent">
    <!-- Beginning map -->
    <section id="map-container">
      <div id="map" role="application" data-restaurant='{{ restaurant|tojson }}'></div>
    </section>
    <!-- End map -->
    <!-- Beginning restaurant -->
    <section id="restaurant-container">
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}}">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <h2 id="restaurant-name">{{restaurant.name}}</h2>
      <img id="restaurant-img" class="restaurant-img" src="{{restaurant.photograph}}" alt="Image of {{restaurant.name}} Restaurant">
      <p id="restaurant-cuisine">{{restaurant.cuisine}}</p>
      <p id="restaurant-address">{{restaurant.address}}</p>
      <table id="restaurant-hours">
        {% for key, value in restaurant.operating_hours.items() %}
        <tr>
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
        {% endfor %}
      </table>
      <!-- Trigger/Open The Modal -->
      <button id="myBtn" class="link-btn">Edit Restaurant</button>

      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span id="closeModal" class="close">&times;</span>
          <div class="form-wrapper">
            <form id="editForm" class="form">
              {{ form.csrf_token }}
              <h3 class="form-heading">Edit Restaurant</h3>
              <div class="form-group">
                <label for="name">Name</label>
                {{ form.name(class_ = 'form-control', autofocus = true) }}
                {% if form.name.errors %}
                  <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                <label for="borough">Borough</label>
                {{ form.borough(class_ = 'form-control', autofocus = true) }}
                {% if form.borough.errors %}
                  <ul class="errors">{% for error in form.borough.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="photograph">Photograph Link</label>
                {{ form.photograph(class_ = 'form-control', placeholder='http://', autofocus = true) }}
                {% if form.photograph.errors %}
                  <ul class="errors">{% for error in form.photograph.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="img_description">Image Description</label>
                {{ form.img_description(class_ = 'form-control', autofocus = true) }}
                {% if form.img_description.errors %}
                  <ul class="errors">{% for error in form.img_description.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                {{ form.address(class_ = 'form-control', autofocus = true) }}
                {% if form.address.errors %}
                  <ul class="errors">{% for error in form.address.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
              </div>
              <div class="form-group">
                <span>The approximate latitude and longitude values for New York City are:</span><br>
                <span>min lat = 40.499080, max lat = 40.913124</span><br>
                <span>min lng = -73.703058, max lng = -74.253449</span><br>
                <label for="lat">Latitude</label>
                {{ form.lat(class_ = 'form-control', placeholder='00.000000', autofocus = true) }}
                {% if form.lat.errors %}
                  <ul class="errors">{% for error in form.lat.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                <label for="lng">Longitude</label>
                {{ form.lng(class_ = 'form-control', placeholder='-00.000000', autofocus = true) }}
                {% if form.lng.errors %}
                  <ul class="errors">{% for error in form.lng.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="cuisine">Cuisine</label>
                {{ form.cuisine(class_ = 'form-control', autofocus = true) }}
                {% if form.cuisine.errors %}
                  <ul class="errors">{% for error in form.cuisine.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
              </div>
              <div class="form-group">
                <span>Operating Hours</span>
                <table>
                  <tr>
                    <th>Day</th>
                    <th>Open</th>
                    <th>Close</th>
                  </tr>
                  <tr>
                    <td>Monday:</td>
                    <td>{{ form.opening_0(class_ = 'form-control', autofocus = true) }}</td>
                    <td>{{ form.closing_0(class_ = 'form-control', autofocus = true) }}</td>
                  </tr>
                  <tr>
                    <td>Tuesday:</td>
                    <td>{{ form.opening_1(class_ = 'form-control', autofocus = true) }}</td>
                    <td>{{ form.closing_1(class_ = 'form-control', autofocus = true) }}</td>
                  </tr>
                  <tr>
                    <td>Wednesday:</td>
                    <td>{{ form.opening_2(class_ = 'form-control', autofocus = true) }}</td>
                    <td>{{ form.closing_2(class_ = 'form-control', autofocus = true) }}</td>
                  </tr>
                  <tr>
                    <td>Thursday:</td>
                    <td>{{ form.opening_3(class_ = 'form-control', autofocus = true) }}</td>
                    <td>{{ form.closing_3(class_ = 'form-control', autofocus = true) }}</td>
                  </tr>
                  <tr>
                    <td>Friday:</td>
                    <td>{{ form.opening_4(class_ = 'form-control', autofocus = true) }}</td>
                    <td>{{ form.closing_4(class_ = 'form-control', autofocus = true) }}</td>
                  </tr>
                  <tr>
                    <td>Saturday:</td>
                    <td>{{ form.opening_5(class_ = 'form-control', autofocus = true) }}</td>
                    <td>{{ form.closing_5(class_ = 'form-control', autofocus = true) }}</td>
                  </tr>
                  <tr>
                    <td>Sunday:</td>
                    <td>{{ form.opening_6(class_ = 'form-control', autofocus = true) }}</td>
                    <td>{{ form.closing_6(class_ = 'form-control', autofocus = true) }}</td>
                  </tr>
                </table>
              </div>
              <input type="submit" value="Save" class="submit-btn">
            </form>
        </div>

      </div>
    </section>
    <!-- end restaurant -->
    <!-- Beginning reviews -->
    <section id="reviews-container">
      <div class="reviews-heading">
        <h2>Reviews</h2>
        <span><a href="{{ url_for('create_review_form', id=restaurant.id) }}" class="link-btn">Write a review</a></span>
      </div>
      <ul id="reviews-list">
        {% if reviews is false %}
          <li>
            <p>No reviews yet.</p>
          </li>
        {% else %}
          {% for review in reviews %}
            <li>
              <p>{{review.name}}</p>
              <p>{{review.date}}</p>
              <p>Rating: {{review.rating}}</p>
              <p>{{review.comments}}</p>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </section>
    <!-- End reviews -->
  </main>
  <!-- End main -->
  <!-- Beginning footer -->
  <footer id="footer">
    Copyright (c) 2020 <a href="{{ url_for('get_restaurants') }}"><strong>New York Diner</strong></a> All Rights Reserved.
  </footer>
  <!-- End footer -->
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
  <!-- Beginning scripts -->
  <!-- Database helpers -->
  <script src="{{ url_for('static', filename='js/dbhelper.js') }}"></script>
  <!-- Main javascript file -->
  <script src="{{ url_for('static', filename='js/restaurant_info.js') }}"></script>
  <!-- Google Maps -->
 <!--  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_tKbW6A5pQ-eupxI56myUnHLqYCzOjKo&libraries=places&callback=initMap"></script> -->
  <!-- End scripts -->

</body>

</html>
